::-webkit-input-placeholder {
	/* WebKit browsers */
	color: $color-placeholder;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: $color-placeholder;
}
::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: $color-placeholder;
}
:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: $color-placeholder;
}

.form {
	// Form Row
	//
	//  A wrap for form element and label
	//
	// .form__row--error - There is an error
	//
	// Markup: <div class="form__row {{ modifier_class }}"><label class="form__label" for="test">Label</label><input type="text" placeholder="Form input" class="form__field"/>
	// <span class="form__error-msg" aria-live="polite">This is an error message</span>
	// </div></form>
	//
	// Style guide: Organisms.Form\ Row

	&__row {
		overflow: visible;

		& ~ & {
			margin-top: 1.5em;
		}
	}
	&__label {
		display: block;
		margin-bottom: 0.5em;

		.form__row--error & {
			color: $color-error;
		}
	}

	// Form Field
	//
	//  A standard text or number input field
	//
	// .form__field--textarea - for a textarea
	//
	// Markup: <input type="text" placeholder="Form input" class="form__field {{ modifier_class }}"/>
	//
	// Style guide: Organisms.Form\ Field

	&__field {
		box-shadow: none;
		border: 1px solid $color-borders;
		border-radius: 0;
		padding: 0.8em 1em;
		font-size: 16px;
		font-family: $font-stack;
		width: 100%;
		transition: all 300ms ease-in-out;
		-webkit-appearance: none;

		&:hover,
		&:focus {
			outline: none;
			border-color: $color-borders;
		}

		&--textarea {
			resize: vertical;
		}

		&--file {
			color: $color-text;
		}

		.form__row--error &,
		.form__row--error &:focus {
			border-color: $color-error;
		}
	}

	&__error-msg {
		color: $color-error;
		margin-top: 0.5em;
		display: none;

		.form__row--error & {
			display: block;
		}
	}

	&__hp {
		display: none; // HONEYPOTS
	}
}