// ------------------------------------------------------------------------------
// TO OVERRIDE DEFAULT THEME, IMPORT SCSS AND UPDATE VARS BELOW
// ------------------------------------------------------------------------------

@import 'quarks/colors'; // Style guide sass task needs this
@import 'quarks/fonts'; // Style guide sass task needs this

$kss-colors-background: #fff;
$kss-colors-background-alt: #f4f4f4;
$kss-colors-foreground: #1e1e20;
$kss-colors-heading: #1e1e20;
$kss-colors-quotes: #fa1848;
$kss-colors-borders: #f4f4f4;
$kss-colors-brand: #128dfb;

$kss-colors-link: inherit;
$kss-colors-link-visited: inherit;
$kss-colors-link-hover: inherit;
$kss-colors-link-active: inherit;

$kss-font-code: 'Monaco', 'Ubuntu Mono', 'Lucida Console', 'Courier New',
	Courier, monospace;

$kss-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;


// ------------------------------------------------------------------------------

// TO OVERRIDE DEFAULT CODE SYNTAX COLOUR SCHEME ADD BELOW THIS COMMENT

/*! THEMES HERE => github.com/jmblog/color-themes-for-google-code-prettify */

// ------------------------------------------------------------------------------
