// Checkbox or Radio button
//
//  Custom checkbox/radio styling
//
// .form-row--error - There is an error
//
// Markup: <div class="chkrad {{ modifier_class }}"><input type="checkbox" value="Test" class="chkrad__field" /><label class="chkrad__label" for="test">Label</label></div>
// <div class="chkrad  {{ modifier_class }}"><input type="radio" value="Test" class="chkrad__field" /><label class="chkrad__label" for="test">Label</label></div>
//
// Style guide: Atoms.Chkrad

.chkrad {
	&__field {
		display: inline-block;
		margin-right: 1em;
	}
	&__label {
		display: inline-block;
		.form-row--error & {
			border: 0;
			box-shadow: none;
			color: $color-error;
		}
	}
}
