// Our Logo
//
// Weight: -3
//
// Style guide: Logo

// Logo
//
// Logos: Main logo: /images/logo.svg - This is the main logo. This should be used in most instances
//
// Samples: Example Do's and Don'ts: //placehold.it/800x600
//
// Style guide: Logo.Our\ Logo

// Logo
//
// The logo partial markup
//
// Markup: logo.twig
//
// Style guide: Atoms.logo

.logo {
	display: block;
	position: relative;
	width: 100px;
	z-index: 2;

	@include mq($m) {
		width: 150px;
	}
}
