{#
Usage:
{% include '_elements/picture' with {
    class: 'pic pic--mod',
    sources: [
        '/images/image-400.jpg 400w',
        '/images/image-900.jpg 900w'
    ],
    sizes: [
        '100vw',
        '900px'
    ],
    fallback: '/images/image-400.jpg',
    alt: 'Some alt text'
} only %}
#}

{% set srcSet   = sources|join(', ') %}
{% set wpSrcSet = srcSet %}
{% set find     = ['jpg', 'jpeg', 'png', 'gif'] %}
{% for item in find %}
    {% set wpSrcSet = wpSrcSet|replace(item, 'webp') %}
{% endfor %}
{% set sizes = sizes|join(', ') %}
{% set class = (class is defined) ? 'class="' ~ class ~ '"' : '' %}
<picture {{ class|raw }}>
    <source type="image/webp" srcset="{{ wpSrcSet }}" sizes="{{ sizes }}">
    <source srcset="{{ srcSet }}" sizes="{{ sizes }}">
    <img src="{{ fallback }}" alt="{{ alt }}">
</picture>
