// Colours
//
// Demo colour pallette
//
// Weight: -2
//
// Colors:
// $color-error: #ff0000 - Errors
// $color-selection: #000000 - Selection BG
// $color-selection-text: #ffffff - Selection FG
// $color-text: #000000 - Text Colour
// $color-borders: #000000 - Border Colour
// $color-placeholder: #555555 - Placeholders
//
// Style guide: Colours.Colours\ Demo

$color-error: #ff0000;
$color-selection: #000000;
$color-selection-text: #ffffff;
$color-text: #000000;
$color-borders: #000000;
$color-placeholder: #555555;
