// Fonts
//
// Our brand fonts. These are available from [Typekit](https://typekit.com/fonts/)
//
// Weight: -1
//
// Samples: Sample 1: //placehold.it/800x600 - An example of our font in use
//
// Style guide: Typography.Fonts

// Font Variables
//
// Generic reusable variables for fonts and font sizing
//
// $font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" - Font stack
// $text-reg: 1em - regular copy size
// $text-large: 1.25em - large copy size
// $text-small: 0.85em - small copy size
//
// Style guide: Quarks.Font\ Variables

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// font sizes
$text-reg: 1em;
$text-large: 1.222222222em;
$text-small: 0.777777778em;

