// Layout Variables
//
// Generic reusable variables for layouts and breakpoints
//
// $site-width: 90em - The max site width
// $xs: 20em - Extra Small Breakpoint
// $s: 30em - Small Breakpoint
// $m: 45em - Medium Breakpoint
// $l: 65em - large Breakpoint
// $xl: 95em - Extra large Breakpoint
// $xxl: 120em - XXL breakpoint
//
// Style guide: Quarks.Layout\ Variables

// width of site
$site-width: 90em;
// breakpoints used by media query mixins
// NOTE: If these values are changed, the comments in _grid.scss must also be changed
$xs: 20em;
$s: 30em;
$m: 45em;
$l: 65em;
$xl: 95em;
$xxl: 120em;



.wrapper {
	max-width: $site-width;
	margin: 0 auto;
	position: relative;
	padding: 0 1em;

	@include mq($m) {
		padding: 0 2em;
	}
}

.global-wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
	-ms-flex-preferred-size: auto;
}

.site-header,
.site-footer {
	flex-shrink: 0;
}

body.env--staging:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #000 url(../images/dev-mode.svg) repeat-x;
}