// mq($start, $end)
//
// Creates a min width media query, with an optional max width param
//
// $min - The min width value (e.g. 0, 2em, 100px, $xs, etc)
// $max - The max width value (e.g. 700px, 25em, $xl, etc)
//
// Style guide: Quarks.Mixins.MQ
@mixin mq($min: none, $max: none) {
	@if $min==none {
		@media only screen and (max-width: ($max - 0.01)) {
			@content;
		}
	}
	@else if $max==none {
		@media only screen and (min-width: $min) {
			@content;
		}
	}
	@else {
		@media only screen and (min-width: $min) and (max-width: ($max - 0.01)) {
			@content;
		}
	}
}

// strip-units($value)
//
// Remove the units from values
//
// $value - The value to strip
//
// Style guide: Quarks.Mixins.strip-units
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size)
//
// Create font sizes for a fluid type system
//
// $min-vw - When you want to start scaling type
// $max-vw - When you want to stop scaling type
// $min-font-size - The min font size at largest BP
// $max-font-size - The max font size at the smallest BP
//
// Style guide: Quarks.Mixins.fluid-type
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);
	@if $u1==$u2 and $u1==$u3 and $u1==$u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * (( 100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

