// Hidden
//
// Hide an element from screens and assistive tecnology
//
// .hidden--xs - Hide at xs breakpoint
// .hidden--s - Hide at s breakpoint
// .hidden--m - Hide at m breakpoint
// .hidden--l - Hide at l breakpoint
// .hidden--xl - Hide at xl breakpoint
// .hidden--xxl - Hide at xxl breakpoint
// .hidden--js - Hide if JS is available
// .hidden--no-js - Hide if JS is unavailable
//
// Styleguide: Quarks.Utils.Hidden

.hidden {

	display: none !important;
	visibility: hidden;
  &--xs {
    @include mq(0, $s) {
      display: none !important;
      visibility: hidden;
    }
  }
  &--s {
    @include mq($s, $m) {
      display: none !important;
      visibility: hidden;
    }
  }
  &--m {
    @include mq($m, $l) {
      display: none !important;
      visibility: hidden;
    }
  }
  &--l {
    @include mq($l, $xl) {
      display: none !important;
      visibility: hidden;
    }
  }
  &--xl {
    @include mq($xl, $xxl) {
      display: none !important;
      visibility: hidden;
    }
  }
  &--xxl {
    @include mq($xxl) {
      display: none !important;
      visibility: hidden;
    }
	}
	&--js {
		.js & {
			display: none !important;
			visibility: hidden;
		}
	}
	&--no-js {
		.no-js & {
			display: none !important;
			visibility: hidden;
		}
	}
}
// Visually Hidden
//
// Accessibly hide an element from screens *BUT NOT* assistive technology
//
// .focusable - Unhide on focus
// .focusable:focus - Unhide on focus (focused)
//
// Styleguide: Quarks.Utils.Visually\ Hidden

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
