<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{{ title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% include 'head-scripts.twig' %}

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="">
		<meta itemprop="description" content="">
		<meta itemprop="image" content="">

		{% include 'facebook-meta.twig' %}

		{% include 'twitter-meta.twig' %}

		<!-- Optional -->
		<!-- <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
		<link rel="canonical" href="http://mysite.com/" />
		<link rel="next" href="page2.php" /> -->

		{% include 'favicon.twig' %}

	</head>

	<body itemscope itemtype="http://schema.org/WebPage">

		<!--[if IE 9]>
		<div class="chromeframe"><div class="wrapper">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div></div>
		<![endif]-->

		<div class="global-wrapper" id="global-wrapper">

			<header class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">

				<div class="wrapper">

					<a href="/" class="logo" itemprop="headline">
						<img src="/images/logo.svg" alt="Twig Test">
					</a>

					<button type="button" class="btn" id="primary-nav-trigger">Menu</button>

					<nav class="nav nav--primary">
						<ul class="nav__items">
							<li class="nav__item">Home</li>
						</ul>
					</nav>

				</div>

			</header>

			<main class="main" role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/Thing"><!-- Change this depending on page -->

				<div class="wrapper">

				</div>

			</main>

			<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">

				<div class="wrapper">

					<p class="copyright">&copy; Copyright</p>

				</div>

			</footer>

		</div>

		{% include 'foot-scripts.twig' %}

	</body>
	
</html>
